// Variables
@import "variables";
@import "~font-awesome/css/font-awesome.min.css";
// Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";
//Sweetalert2
@import "~sweetalert2/src/sweetalert2";
.swal2-container {
  z-index: 2079 !important;
}
//toastr
@import "~toastr/toastr.scss";

@import "transitions";
/* @import 'estilosres.css'; */

// html {
//   scroll-behavior: smooth;
// }

#filter-buttons {
  background-color: #fff !important;
  transition: all 0.5s;
}

.el-pagination {
  margin: 40px 0;
  .btn-prev,
  .btn-next,
  .el-pager,
  .el-pagination__jump {
    float: right;
  }
}

.vue-treeselect {
  .vue-treeselect__control {
    display: none;
  }
}

.el-select-dropdown.el-popper.is-multiple.SearchTheProvinceorTown {
  position: absolute !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.pa-3 {
  padding: 3px;
}

.btn-action-search {
  width: 100%;
  background-color: #e7821c;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  padding: 15px;
}

.text-help {
  margin: 0;
  font-size: 13px;
  color: #777;
}

.bg-fff {
  background-color: #fff;
}

.content {
  padding: 10px;
}

.conten-flex-70-30 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conten-flex-70-30 > div:nth-child(odd) {
  width: 70%;
}

.conten-flex-70-30 > div:nth-child(even) {
  width: 30%;
}

.conten-flex-70-30 > div:nth-child(odd) > div {
  margin-right: 10px;
}

.conten-flex-50-50 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.conten-flex-50-50 > div:nth-child(odd) {
  width: 50%;
}

.conten-flex-50-50 > div:nth-child(even) {
  width: 50%;
}

.conten-flex-70-30 > .conten-flex-50-50 div {
  margin-right: 0px;
}

.grid-5-columns-1fr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-4-columns-1fr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-3-columns-1fr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &.rows-auto-flow {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
  }
}

.grid-2-columns-1fr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}

.btn-a {
  list-style: none;
  color: #0071bc !important;
  list-style: none;
  margin: 2.5px;
  border: 1px solid #dddddd;
  color: #1b4973;
  border-radius: 4px;
  padding: 8px 15px;
  background-color: #eeeeee;
  font-size: 13px;
  transition: all 0.2s;
}

.btn-orange {
  color: #fff;
  background-color: #fa7f02;
  border-color: #d66d03;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
  color: #fff;
  background-color: #d66d03;
  border-color: #d66d03;
}

.vue-treeselect__label {
  font-weight: 100 !important;
}

.el-upload {
  input[type="file"] {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.bg-g {
  background-color: #aaa;
  margin: 5px 0;
  color: #fff;
  padding: 2px 5px;
  label.custon-checkboxs {
    margin: 0;
    font-size: 14px;
    span.title {
      i {
        text-decoration: underline;
      }
    }
  }
}

span.num-fil {
  color: #2196f3;
  font-weight: bold;
  margin-left: 3px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-20 {
  margin-bottom: 20px;
}

.m-t-30 {
  margin-bottom: 30px;
}

.checkboxs-resaldado {
  background: #333;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
}

.checkboxs-resaldado.w-50-p {
  width: 50%;
}

.link-disabled {
  color: #fff !important;
}

.el-table__header-wrapper table thead th {
  background-color: #333;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 8px 0;
  font-size: 10.9px;
}

.el-badge__content,
.el-badge__content.is-fixed {
  opacity: 0;
  right: 103px !important;
  top: 25px !important;
  font-size: 9px;
  line-height: 16px;
  cursor: pointer;
}

.el-select.select-columns .el-select__tags {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
}

.custon-checkboxs.white {
  background: #aaa;
  padding: 3px 8px;
  color: white;
  width: 100%;
  font-size: 13.5px;
  border-radius: 5px;
}

._hastaPicker,
._desdePicker {
  position: relative;
  top: -358px;
  right: -309px;
  background: rgb(255, 255, 255);
  color: #cacbcd;
  display: initial;
  padding: 3px 6px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 100;
  border: 1px solid #e4e7ed;
  font-size: 13px;

  &:hover {
    font-weight: 200;
    color: #181818;
    border-color: #777778;
  }
}

.input-group {
  z-index: 0 !important;
}

.el-badge.item:hover {
  .el-badge__content,
  .el-badge__content.is-fixed {
    opacity: 1;
    transition: all 0.5s;
  }
}

.f25 {
  font-size: 25px;
}

.ul_filtros_aplicados {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  li {
    font-weight: bold;
    list-style: decimal;
    ul {
      li {
        margin-left: 20px;
        font-weight: initial;
        list-style: circle;
      }
    }
  }
  .el-divider {
    margin: 5px 0;
  }
}

.ul_filtros_aplicados > li {
  margin-bottom: 50px;
}

.el-badge {
  width: 100% !important;
}
.el-badge > div {
  opacity: 0.5;
}

.div_capa_superpuesta {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.32);
    height: -webkit-fill-available;
  }
}

.sb-toggle .glyphicon.glyphicon-user {
  margin-right: 3px;
}

#filter_sector_actividad .vue-treeselect__menu-container {
  z-index: 0 !important;
}

.invert .panel-default > .panel-heading {
  color: #333 !important;
  background-color: #f5f5f5 !important;
  border-color: #ddd !important;
}

.panel-title.panel-title-flex {
  display: flex !important;
}

.panel-title.panel-title-flex > :nth-child(1) {
  width: 90%;
}

.panel-title.panel-title-flex > :nth-child(2) {
  width: 10%;
  text-align: right;
}

.rotate {
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(90deg); /* Firefox */
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg); /* Standard syntax */
}

.treeselect-items {
  .vue-treeselect {
    position: relative;
    .vue-treeselect__menu-container {
      position: relative;
    }
    .vue-treeselect__menu {
      position: relative;
      height: auto;
    }
  }
  .vue-treeselect__option {
    background-color: #fff !important;
  }
}

.el-popover.el-popper {
  z-index: 0 !important;
}

.el-button--primary {
  color: #fff !important;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}

.el-popover.el-popper.popover_criteria-applied {
  z-index: 2007 !important;
}

.z-popover.el-popover.el-popper {
  z-index: 2053 !important;
}

.sidebar-menu.vue-affix.affix {
  z-index: 2 !important;
}

#filter_informacion_financiera {
  .vue-treeselect__menu-container {
    z-index: 0 !important;
  }
}

.treeselect_informacion_financiera {
  .vue-treeselect--open-below .vue-treeselect__menu {
    max-height: 432px !important;
  }
}

.t-t-capitalize {
  text-transform: capitalize;
}

.el-tabs__nav {
  z-index: 1 !important;
}

#filter_informacion_financiera,
#filter_estado {
  .el-input.is-disabled {
    input,
    input::placeholder {
      color: #555 !important;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #337ab7bf !important;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.div-scroll-200 {
  height: auto;
  max-height: 200px;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #337ab7bf !important;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.div-scroll-300 {
  height: auto;
  max-height: 300px;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #337ab7bf !important;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.div-scroll-400 {
  height: auto;
  max-height: 400px;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #337ab7bf !important;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.div-scroll-500 {
  height: auto;
  max-height: 500px;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #337ab7bf !important;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

#filter_directivos_y_vinculaciones,
.criteria-applied {
  .glyphicon {
    margin-right: 10px;
  }
  .el-collapse-item__arrow {
    display: none !important;
  }
}

#filter_directivos_y_vinculaciones {
  .el-card {
    margin-bottom: 10px !important;
  }
}

@import "media_queries.scss";
