label.custon-checkboxs {
  font-weight: bold;
  cursor: pointer;

  margin-right: 2.5px;

  span.num-fil {
    color: #2196f3;
  }

  input[type=checkbox] {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .geekmark:before {
    content: "\F096";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
  }

  input:checked~.geekmark:before {
    content: "\f14a";
  }
}

.btn-naranja {
  background-color: #e2801d;
  color: #fff; 
  padding: 2px 5px;
  font-weight: bold;
}

.flex-space-between-flex-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.btn-action-search {
  width: 30%;
}

textarea {
  height: 100px;
}
span.span-info-right { float: right; }
span.num-fil { color: #2196f3; }
ul.ul_selected_provinces_localidad {
  height: 280px;
  overflow-y: scroll;
}
.btns button { margin: 0 5px 0 0; }
.btns-modal-header {
  display: flex;
  justify-content: space-between;
  button.btn-success {
    margin-right: 5px;
  }
}
.selected_children ul {
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  margin-bottom: 10px;
  li {
    display: inline-block;
    font-weight: bold;
  }
}